<!DOCTYPE html>
<html>
	<head>
		<title>Secrect Santa</title>
		<link type=text/css rel=stylesheet href="css/secret_santa.css" />
	</head>
	<body>
		<h1>Secret Santa</h1>
		<%= yield %>
	</body>
</html>
